/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-container {
    padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=email]{
    background-color: #f1f1f1;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    box-sizing: border-box;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=email]:focus{
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #1f2937;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 10px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
    color: white;
    background-color: #374151;
}

/*Style pour l'espace à remplir*/
.select, .date2{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

/*Mettre un trait sous "Inscription" du popup*/
.titre{
    border-bottom: solid;
}

/*Afficher le mot de passe*/

/*.loupe{
    float: right;
    width: 20px;
    height: 20px;
}*/

.btnAfficher{
    background-color: #f1f1f1;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}
