.menu a{
	text-decoration: none;
	color: white;
	padding: 20px;	
	text-align: center;
}
/*style pour la page du profil*/

.menu{
	display: flex;
	flex-direction: column;
	background-color: #1f2937;
	width: 10%;
}

.menu a:hover{
	background-color: #374151;
	padding: 20px; 
}

table{
	border-collapse: collapse;
	margin-left: 470px;
	margin-bottom: 30px;
}

td{
	border: solid black 1px;
	font-size: 20px;
	padding: 10px;
}

button{
	margin-left: 595px;
	padding: 8px;
}

button:hover{
	cursor: pointer;
}

img{
	margin-left: 0px;
	margin-bottom: 50px;
}

.main{
	display: flex;
}

.contenu a{
	text-decoration: none;
	color: black;
}

/*style pour la page édition du profil*/

h2{
	margin-left: 610px;
}

.logoUtilisateur{
	margin-left: 540px; 
}

.btn{
	margin-left: 620px;
}
