.menu a{
	text-decoration: none;
	color: white;
	border: solid white;
	border-radius: 40px;
	padding: 20px;	
	text-align: center;
	background-color: transparent;
	margin-bottom: 30px;
	margin-top: 10px;
	margin-left: 20px;
}

/*style pour la page du profil*/

.menu{
	display: flex;
	flex-direction: column;
	background-color: transparent;
	margin-top: 60px;
	margin-left: 60px;
}

.menu a:hover{
	background-color: white;
	padding: 20px;
	color: #6495ED;
}

table{
	border-collapse: collapse;
	margin-left: 230px;
	margin-bottom: 30px;
	margin-top: 160px;
}


td{
	border: solid white 3px;
	font-size: 20px;
	padding: 20px;
	color: white;
}

.btnEditer {
	margin-top: 30px;
	margin-left: 360px;
	color: white;
	font-size: 15px;
	color: white;
	border: solid white;
	border-radius: 40px;
	padding: 20px;	
	text-align: center;
	background-color: transparent;
}

button:hover{
	cursor: pointer;
	background-color: white;
	color: #6495ED;
}

img{
	margin-left: 100px;
	float: right;
	margin-top: 160px;
}

.main{
	display: flex;
}

.contenu a{
	text-decoration: none;
	color: black;
}

th{
	color: white;
	margin-bottom: 8px;
}
