html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
    line-height: 1.5; /* 2 */
}

body {
    margin: 0;
    font-family:system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
    font-family: inherit;
    line-height: inherit;
    background-color: #EEEEEE;
}

/*FAQ*/

.logoWitsmed{
    width: 50px;
    height: 50px;
    position: sticky;
    left: 0;
    bottom: 0;
}

.Powered{
    position: sticky;
    top: 2em;
    left: 0;
    font-size: 10px;
    color: white;
}

.question{
    border: solid;
    border-radius: 10px;
    width: 80%;
    padding: 12px 20px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #AAC9E1;
    border-color: black;
}

.reponse{
    border: solid;
    border-radius: 10px;
    width: 80%;
    padding: 12px 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: #D2E8F8;
}

.client{
    width:400px;
    height:400px;
    position: absolute;
    right: 15em;
    top: 10em;
    display: none;
}

@media screen and (min-device-width:780px) and (min-width: 780px){
	.client{display: flex;}
}

@media screen and (min-device-width:780px) and (min-width: 780px){
	.question, .reponse{width: 35%;}
}

.pied{
    background: #eaeae6;
    border-top: 1px solid #d5d4d1;
    box-sizing: border-box;
    height: 96px;
    padding: 24px 0;
    text-align: left;
}

.appeler{
    border: solid;
    border-color: grey;
    border-width: 3px;
    background-color: #EEEEEE;
    width: 35%;
    margin-left: 100px;
    font-size: 20px;
    padding: 8px 5px;
}

.envoyer{
    border: solid;
    border-color: grey;
    border-width: 3px;
    background-color: #EEEEEE;
    width: 35%;
    margin-left: 20px;
    font-size: 20px;
    padding: 8px 5px;
}

.contact{
    font-size: 25px;
    font-style: bold;
    margin-left: 15em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #1f2937;
}

li{
    float: right;
}

.footer-container{
    padding: 18px;
    color: white;
}

/*FAQ*/