*{
    box-sizing: border-box;
}

html {
    font-family: "Merriweather Sans", serif;
    line-height: 1.5; /* 2 */
}

html, body {
    margin: 0;
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    background-color: #6495ED;
    display: flex;
    flex-direction: column;
}


/*FAQ*/

/*style pour le logo Witsmed*/

.logoWitsmed{
    width: 50px;
    height: 50px;
    position: sticky;
    left: 0;
    bottom: 0;
}

/*style pour le bouton d'accueil*/

.accueil{
    position: absolute;
    top:0;
    right:0;
    margin-right: 30px;
    margin-top: 30px;
}

/*style pour l'intitulé "powered by"*/
.Powered{
    position: sticky;
    top: 2em;
    left: 0;
    font-size: 10px;
    color: white;
}

/*style pour les questions*/
.question{
    border: solid white;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: transparent;
    margin-left: 8vw;
    margin-bottom: 21px;
    width: 80vw;
}

.question a{
    margin-right: 5px;
}

/*disparition des réponses*/
.r1, .r2, .r3, .r4, .r5, .r6{
    display: none;
}

/*mise des questions et des réponses côte à côte*/
/*.faq{
    display: flex;
}*/

/*style pour le logo de notre client*/
.logoClient{
    width:400px;
    height:400px;
    position: absolute;
    right: 8em;
    top: 8em;
}

/*style pour les boutons "afficher les réponses"*/
.ContenuQuestion button {
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-top: 20px;
}

.ContenuQuestion button:hover{
    background-color: white;
    color: #6495ED;
    border-color: white;
}


/*style pour les titres "Questions" et "Réponses*/
.titreQuestion{
    color: white;
    margin: 0 auto;
    font-family: "Merriweather Sans", serif;
    margin-top: 20px;
    margin-left: 15vw;
}

.titreReponse{
    color: white;
    margin: 0 auto;
    font-family: "Merriweather Sans", serif;
    margin-top: 20px;
    margin-left: 3vw;
}

.ContenuReponse h3{
    display: none;
    text-align: center;
}

/*@media screen and (min-device-width:780px) and (min-width: 780px){
	.client{display: flex;}
}

@media screen and (min-device-width:780px) and (min-width: 780px){
	.question, .reponse{width: 35%;}
}*/




/*style pour le "nous contacter" du pied de page*/
.contact{
    font-size: 30px;
    font-weight: bold;
}

/*style pour les mots du pied de page comme "mantions légales"*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  transparent;
}


li{
    float: right;
}

/*style pour le pied de page*/
.footer-container{
    padding: 18px;
    color: white;
}
/*FAQ*/

/*titre*/

#titre
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:87vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#titre h2
{
    position: relative;
    margin-right: 30px ;
    font-size: 50px ;
    color: #6495ed;
    -webkit-text-stroke: 0.3vw cornflowerblue;
    text-transform: uppercase;
    font-family: Verdana;

}

#titre h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: grey;
    -webkit-text-stroke: 0.3vw grey;
    border-right: 2px solid grey;
    overflow: hidden;
    animation: animate 6s linear ;
}

@keyframes animate
{
    0%
    {
        width: 0;
    }
    70%
    {
        width: 100%;
    }
}

/*style pour la pagination de la FAQ*/

.pagination{
    margin-left: 45vw;
}

.pagination a{
    background-color: transparent;
    border: solid white 1px;
    border-radius: 10px;
    color: white;
    padding: 5px; 
}

.pagination a:hover{
    background-color: white;
    color: #6495ED;
}

.pagination a.active{
    background-color: white;
    color: #6495ED;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn {
    border: 5px solid black;
    background-color: transparent;
    color: black;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 300px;
    margin: 20px  20px 20px 0px;
}

.white {
    border-color: white;
    color: white;
}

.icon{
    width: 100px; height: 100px; color: white; margin-right: 20px;
}

.btn:hover{
    background-color: white;
    color: #266bd9;
}

.box-co{
    display: none;
    border: solid white 5px;
    border-radius: 50px;
    height:70vh;
    width:60vw;
}

.box-contact{
    display: none;
    border: solid white 5px;
    border-radius: 50px;
    height:70vh;
    width:60vw;
}

.box-about{
    display: none;
    border: solid white 5px;
    border-radius: 50px;
    height:70vh;
    width:60vw;
}

.btn-menu{
    width: 25vw;
    height: 30vh;
    text-align: center;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 300px;
    margin: 20px  20px 20px 0px;
}

.btn-admin{
    width: 25vw;
    height: 20vh;
    text-align: center;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 300px;
    margin: 20px  20px 20px 0px;
}

.msg{
    border: 5px solid white;
    border-radius: 30px;
    width: 25vw;
}

.titre_message {
    font-size: medium;
    text-decoration: underline;
    color: white;
}

.icon-admin{
    width: 10vh;
    height: 10vh;
    color: white;
    margin-right: 20px;
}

.data-box{
    color: white;
    padding: 14px 28px;
    font-size: 30px;
    border-radius: 30px;
    margin: 20px;
    background-color: transparent;
    text-align: center;
    border: 5px solid white;
}

.menu a{
    text-decoration: none;
    color: white;
    border: solid white;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

/*style pour la page du profil*/

.menu{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-top: 60px;
    margin-left: 60px;
}

.menu a:hover{
    background-color: white;
    padding: 20px;
    color: #6495ED;
}
.main{
    display: flex;
}

.user-box{
    color: white;
    padding: 14px 28px;
    font-size: 30px;
    border-radius: 30px;
    margin: 10px 20px 10px 20px;
    background-color: transparent;
    text-align: center;
    border: 5px solid white;
    width: 60vw;
}